[Desktop Entry]
Encoding=UTF-8
Name=Link to Bulk Resize Photos
Type=Link
URL=https://bulkresizephotos.com/
Icon=text-html
Name[en_US]=Link to Bulk Resize Photos used 300 points height
